nav,header,footer{
    display: block;
    



}
*{
    box-sizing: border-box;
}
body{
    
    margin: 0;
    line-height: 1;
}
nav{
    width: 100%;
    margin: 0;
    padding: 0;

}
label{
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
}
p{
    font-size: 18px;
    color: grey;
}

ul.navtop li{
    float: left;
    list-style: none;
}
nav ul{
    background-color: lightgray;
    overflow: hidden;
    margin: 0%;
    padding:0%;
    position:relative;

}
ul.navtop li.navtopright{
    float: right;
    text-decoration: none;
}
nav ul li a{
    padding: 16px;
    display: block;
    color:darkslategrey;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}
nav ul li a:hover{
    background-color: darkslategrey;
    color: lightgray;

}
ul.navtop li.dropdown{
    display: none;
    
    
}
.container{
    width: 100%;
    padding-top: 4%;
    margin: auto;
    padding-bottom: 4%;
}
#heady{
    padding-top: 0%;
}
#gradient{
    background: rgb(12,13,13);
background: linear-gradient(0deg, rgba(12,13,13,1) 0%, rgba(155,159,159,1) 100%);


}
.learnmore{
    display: block;
    margin: auto;
}
button{
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    color: gold;
    background-color: black;
    border-style: solid;
    border-color: grey;

}
button:hover{
    cursor: pointer;
}
.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form::after{
    display: table;
    clear: both;
    content: "";
}
.col1{
    width: 8.33%;
}
.col2{
    width: 16.66%;
}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
.col6{width: 50%;}
.col7{width: 58.33%;
}
.col8{width: 66.66%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}
.large{
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}
.heading{
    padding-left: 50px;
}
input{
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
}
.video{
    border-radius: 10px;
    border-style: solid;
    border-color: limegreen;
}
.headser{
    font-size: 40px;
    text-align: center;
}
.box{
    border-color: grey;
    border-style: solid;
    margin: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    background-color:black;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15),0 2px 3px 0 rgba(0,0,0,0.1);
    text-align: center;
}
.logo{
    height: 100px;
    width: 100px;
    
}
article{
    padding-top: 0;
}
article p{
    font-size: 23px;
    padding-left: 20px;
    
}
footer{
    background-color: slategrey;
    color: snow;
    padding-left: 10%;
    
}
footer ul{
    list-style: none;
    text-align: left;
    padding-left: 0%;
    margin-bottom: 0;

}
footer ul li{
    font-size: 20px;
    text-align: left;
}


@media screen and (max-width:680px){
    ul.navtop li:not(:nth-child(1)){
        display: none;
    }
    ul.navtop li.dropdown{
        display: block;
        float: right;
    }
    ul.navtop.responsive li.dropdown{
        position: absolute;
        top: 0%;
        right: 0%;
    }
    ul.navtop.responsive{
        position: relative;


    }
    ul.navtop.responsive li{
        display: inline;
        float: none;
    }
    ul.navtop.responsive li a{
        display: block;
        text-align: left;
        
    }
    .col6,.col4,.col7,.col5{
        width: 100%;
        margin: 0;
        
    }
    .video{
        
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        border-radius:7px ;
        
    }
    .headser{
        font-size: 28px;
    }
    .large{
        font-size: 47px;
    }
    .heading{
        padding: 10px;
    }
    .pic{
        width:400px;
        padding-left: 90px;
    }
    .article{
        font-size: 20px;
    }
    
    footer h1{
        font-size: 20px;

    }
    .col3{
        width: 50%;
    }
    footer ul li{
        font-size: 15px;
        line-height: 1;
    }
}